
.product_details > section {
    background-color: #f4f6f5;
}

.product_details .breadcrumbs {
    padding: 40px 0;
}

.product_details .container .breadcrumbs a {
    text-decoration: none;
    color: #b0bec5;
}

.product_details .container .breadcrumbs span {
    font-size: 15px;
    font-family: Roboto-regular;

}

.product_details .container .breadcrumbs span a.active {
    color: black;
}

.product_details .row {
    display: flex;
    margin: 0 -15px;
}

.product_details .image {
    border: 1px solid #dcdcdc;
}

.product_details .square {
    border: 20px solid white;
    width: 100%;

}

.product_details .square img {
    width: 100%;
    max-height: 420px;
}

.product_details .text h2 {
    font-size: 30px;
    font-family: Roboto-medium;
    color: #414c51;
}

.product_details .text p {
    font-size: 16px;
    color: #707070;
    font-family: Roboto-regular;
    line-height: 1.5;
}

.product_details .product_price, .product_details .product_author, .product_details .basket, .product_details .product_info {
    background-color: white;
    padding: 20px 30px;
    border: 1px solid #d4d4d4;
    margin-top: 30px;
}

.product_details .product_price {
    margin-top: 0;
}

.product_details .product_price .price {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.product_details h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 20px;
    font-family: Roboto-bold;
}

.product_details .price span {
    color: #e74c3c;
    font-size: 22px;
    line-height: 30px;
    font-family: Roboto-medium;
}

.product_details .product_price select {
    padding: 5px;
    font-size: 13px;
    color: #70838d;
    outline: 0;
    font-family: Roboto-regular;
}

.product_details .link {
    text-align: center;
}

.product_details .link i {
    margin-right: 7px;
}

.product_details .link ul {
    display: block;
}

.product_details .product_price a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    width: 100%;
    margin-top: 7px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: Roboto-medium;

}

.product_details .product_price .add_to_cart {
    background-color: #8bc34a;
}

.product_details .product_price .add_to_fav {
    background-color: #42a5f5;
}

.product_details .product_price .buy_now {
    background-color: #546e7a;
}

.product_details .product_author .author_content {
    display: flex;
    padding: 25px 0;
    margin: 0 -15px;
}

.product_details .product_author .img_author {
    width: 70px;
    height: 60px;

}

.product_details .product_author .img_author img {
    width: 100%;
}

.product_details .product_author .author_content p {
    margin-bottom: 22px;
    font-size: 18px;
    font-family: Roboto-regular;
}

.product_details .product_author .author_content a {
    padding: 5px 10px;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    color: #7a7a7a;
    font-size: 13px;
    font-family: Roboto-regular;

}

.product_details .product_author .badges ul {
    justify-content: space-between;
}

.product_details .product_author .badges a {
    display: inline-block;
}

.product_details .basket i {
    margin-right: 20px;
    color: #a6b5bb;
    font-size: 20px;
}

.product_details .basket span {
    font-size: 20px;
    font-family: Roboto-bold;
    margin-right: 20px;

}

.product_details .basket span + span {
    font-size: 16px;
    color: #838383;
    font-family: Roboto-light;
}

.product_details .container h2 {
    padding: 40px 0 30px;
}

.product_details .view_info_links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
}

.product_details .gt_link {
    display: flex;
    align-items: center;
}

.product_details .gt_link a {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-family: Roboto-medium;
    display: flex;
}

.product_details .gt_link .live_preview {
    background-color: #e74c3c;
}

.product_details .gt_link .screenshots {
    background-color: #455a64;
    padding: 15px 35px;
}

.product_details .gt_link .doc {
    background-color: #8bc34a;
}

.product_details .social li {
    width: 50px;
    height: 45px;
}

.product_details .social li a {
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product_details .social .fb {
    background-color: #6370b6;
}

.product_details .social .tw {
    background-color: #64b5f6;
}

.product_details .social .in {
    background-color: #4f71ce;
}

.product_details .social .p {
    background-color: #d32f2f;
}

.product_details ul {
    display: flex;

}

.product_details .product_info p {
    line-height: 2.5;
    font-family: Roboto-medium;
    font-size: 14px;
}

.product_details .product_info p span {
    color: #70838d;
    font-family: Roboto-regular;
    font-size: 14px;
}

.product_details .gt_link li:not(:first-child) {
    margin-left: 20px;

}

.product_details .social li:not(:first-child) {
    margin-left: 5px;
}

.product_details .row .text {
    background-color: transparent;
    border: none;
}

/*tabs*/

.product_details .tabs {
    background-color: white;
    border: 1px solid #d4d4d4;
}

.product_details .tab {
    display: flex;

}

.product_details .tab button {
    background-color: inherit;
    border: 1px solid #d4d4d4;
    border-top: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    padding: 20px 40px;
    font-size: 16px;
    color: #78909c;
    font-family: Roboto-regular;
}

.product_details .tab button.active {
    border-bottom: 3px solid #8bc34a;
    color: black;
    font-family: Roboto-medium;
}

.product_details .tabcontent {
    display: none;
    padding: 6px 12px;
    color: #707070;
}

.product_details .active_tab {
    display: block;
}

.product_details .tabcontent .tabcontent-text {
    display: flex;
    padding: 30px;
}

.product_details .tabcontent .tabcontent-text > div {
    margin-right: 40px;

}

.product_details .tabcontent .tabcontent-text div p {
    line-height: 2.5;
    font-family: Roboto-regular;
}

.product_details .tabcontent .tabcontent-text div p i {
    margin-right: 10px;
    color: #8bc34a;
}

.product_details .more_prod {
    margin: 50px 0 25px;
    padding: 20px 25px;
    background-color: white;
    border: 1px solid #d4d4d4;

}

.product_details .more_prod h5 {
    font-size: 18px;
    font-family: Roboto-medium;
}

.product_details .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.product_details .product .col-md-4 .item {
    display: flex;
    margin-bottom: 25px;
    border: 1px solid #d4d4d4;
}

.product_details .product .col-md-4 .item:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px grey;
}

.product_details .product .rect {
    min-width: 100px;
    min-height: 90px;
}

.product_details .product .rect img {
    width: 100%;
    height: 100%;
}

.product_details .product .col-md-4 .title_of_prod {
    background-color: white;
    padding: 20px 25px 10px;
    font-family: Roboto-medium;
    font-size: 14px;
}

.product_details .product .col-md-4 .title_of_prod p + p {
    font-size: 12px;
    color: #8bc34a;
    padding: 10px 0;
    font-family: Roboto-regular;
}

.product_details .product .col-md-4 .title_of_prod span {
    font-size: 18px;
    font-weight: bolder;
    font-family: Roboto-bold;
}